@import "tailwindcss";

:root {
  --background: var(--color-gray-100);
  --highlight: var(--color-white);
  --foreground: #171717;
  --fg-secondary: var(--color-gray-600);
  --stroke: var(--color-gray-300);
}

html.dark {
  --background: var(--color-zinc-900);
  --highlight: #0a0a0a;
  --foreground: #ededed;
  --fg-secondary: var(--color-gray-500);
  --stroke: var(--color-zinc-800);
}

@theme inline {
  --color-background: var(--background);
  --color-highlight: var(--highlight);
  --color-foreground: var(--foreground);
  --color-fg-secondary: var(--fg-secondary);
  --color-stroke: var(--stroke);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

button {
  cursor: pointer;
}

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-stroke, currentColor);
  }
}

@keyframes slide-in {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.animate-slide-in {
  animation: slide-in 0.3s ease-out;
}
